/* base style */
*{
  box-sizing: border-box;
}

html {
  height:100%;
}

body{
  background-color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.container{
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

/* text */
h1{
  font-size: 75px;
}

h2{
  font-size: 24px;
}

p{
  font-size: 16px;
  line-height: 1.7;
  color: gray;
}

/* button */
.button{
  margin-top: 15px;
  background-color: black;
  color: white;
  padding: .8rem 1.5rem;
  font-size: 1rem;
}

/* picture */
.pic{
  width: 100%;
  background-image: url("../assets/books.jpg");
  background-color: white;
  background-size: cover;

}

/* form */
.form{
  height: 100%;
  padding: 3rem;
}
form{
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input{
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  color: grey;
}

select{
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  color: grey;
  height: 1.8rem;
}

#name{
  width: 50%;
}

#phone-number {
  width: 100%;
}
#book-type{
  width: 100%;
}

@media only screen and (min-width: 600px){
  background-color: blue;
}
